<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<title>BMI-CALCULATOR</title>

		<link rel="stylesheet" href="1.css" />
	</head>
	<body>
		<div id="MAIN">
			<h1 id="heading">BMI-CALCULATOR</h1>
		</div>

		<form action="/bmicalculator" method="post">
			<input type="text"
				name="Name"
				placeholder="Enter name here!" />
			<br />
			<input id="Height"
				name="Height"
				placeholder="Enter height(m) here" />
			<br />
			<input id="Weight"
				name="Weight"
				placeholder="Enter weight(kg) here" />
			<br />
			<button class="btn"
					type="submit">Get-BMI</button>
		</form>
	</body>
</html>
<!DOCTYPE html>
<html> -->

<head>
	<!-- Include JS files -->
	<script src="app.js"></script>
</head>

<body>
	<div class="container">
		<h1>BMI Calculator</h1>

		<!-- Option for providing height
			and weight to the user-->
		<p>Height (in cm)</p>

		<input type="text" id="height">

		<p>Weight (in kg)</p>

		<input type="text" id="weight">

		<button id="btn">Calculate</button>

		<div id="result"></div>
	</div>
</body>

</html>
