<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BMI-CALCULATOR</title>

		<link rel="stylesheet" href="1.css" />
	</head>
	<body>
		<div id="MAIN">
			<h1 id="heading">BMI-CALCULATOR</h1>
		</div>

		<form action="/bmicalculator" method="post">
			<input type="text"
				name="Name"
				placeholder="Enter name here!" />
			<br />
			<input id="Height"
				name="Height"
				placeholder="Enter height(m) here" />
			<br />
			<input id="Weight"
				name="Weight"
				placeholder="Enter weight(kg) here" />
			<br />
			<button class="btn"
					type="submit">Get-BMI</button>
		</form>
	</body>
</html>
