<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrackCalories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>   
    {{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
     
</head>
<body> 
    <nav>
        <div class="nav-wrapper blue">
            <div class="container">
                <ul class="left"
                    {{#if loggedIn}}
                            <button id="logout" class="btn blue lighten-3">Logout</button>
                        {{else}}
                            {{#if page}}
                                {{../login}}
                                <div class="invisible">
                                    <button id="login">
                                    <a href="/login"class="btn orange">Login</a></button>
                                </div>
                            {{/if}}
                    {{/if}}
                </ul>
                <a href="#" class="brand-logo center">Tracalorie</a>
                <ul class="right">
                <li><a href="#" class="clear-btn btn blue lighten-3">Clear All</a></li>
                </ul>
            </div>
        </div>
    </nav>

<br>

  <div>
      {{{ body }}}
  </div>
    
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</body>
</html>