{{#section 'head'}}
    <meta charset="UTF-8">
    <title>KiloCalorie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homepage.css">
{{/section}}

        <div class="container">
            <div class="box flex">
                {{!-- <button class="direct-btn">Your path to health...</button> --}}
                <a href="#" class="direct-btn go">Go!</a>
            </div>
        </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascript/homepage.js"></script>
