{{#section 'head'}}
    <meta charset="UTF-8">
    <title>KiloCalorie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{{/section}}

    <nav>
        <div class="nav-wrapper blue">
            <div class="container">
                <ul class="left">
                  {{#if loggedIn}}
                  <li>
                  <button id="logout" class="btn blue lighten-3">Logout</button>
                  </li>
                  {{/if}}
                </ul>
                <ul class="right">
                    <li><a href="#" class="clear-btn btn blue lighten-3">Clear All</a></li>
                </ul>
                <a href="homepage" class="brand-logo center">KiloCalorie</a>
            </div>
        </div>
    </nav>
  
  <div class="container">
    <!-- Form Card -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">Add Meal / Food Item</span>
        <form class="col">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" placeholder="Add Item" id="item-name">
              <label for="item-name">Meal</label>
            </div>
            <div class="input-field col s6">
                <input type="text" placeholder="Add Calories" id="item-calories">
                <label for="item-calories">Calories</label>
            </div>
            <button type="submit" class="add-btn btn blue darken-3"><i class="fa fa-plus"></i> Add Meal</button>
            <button class="update-btn btn orange"><i class="fa fa-pencil-square-o"></i> Update Meal</button>
            <button class="delete-btn btn red"><i class="fa fa-remove"></i> Delete Meal</button>
            <button class="back-btn btn grey pull-right"><i class="fa fa-chevron-circle-left"></i> Back</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Calorie Count -->
    <h3 class="center-align">Total Calories: <span class="total-calories">0</span></h3>
    
      

  </div>


<ul id="item-list" class="collection">
{{#each items as |item|}} 
    <li class="collection-item" id="item-{{item.id}}">
        <strong>{{item.food_name}}: </strong> <em>{{item.calories}}: {{item.total-calories.sum}} Calories</em>
        <a href="#" class="secondary-content">
            <i class="edit-item fa fa-pencil"></i>

        
        </a>
    </li>

{{/each}}    
</ul>

<script src="main.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
