<form class="login-form">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="register-form">
    <div>
        <label for="username-register">Username:</label>
        <input type="text" id="username-register" />
    </div>
    <div>
        <label for="email-register">Email:</label>
        <input type="text" id="email-register" />
    </div>
    <div>
        <label for="age-register">Age, in years (required):</label>
        <input type="text" id="age-register" />
    </div>
    <div>
        <label for="height-register">Height, in inches (required):</label>
        <input type="number" id="height-register" step="1" />
    </div>
    <div>
        <label for="start-register">Starting weight, in pounds (required):</label>
        <input type="number" id="start-register" step="1" />
    </div>
    <div>
        <label for="goal-register">Goal weight, in pounds:</label>
        <input type="number" id="goal-register" step="1" />
    </div>
    <div>
        <label for="password-register">Password (required):</label>
        <input type="password" id="password-register" />
    </div>

    <div>
        <button type="submit">Register</button>
    </div>

</form>

<script src="/javascript/login.js"></script>
